.login-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 10vh auto;
  width: 40vw;
}

.login-container > img {
  min-width: 100px;
  width: 20%;
}

.form-container {
  background-color: #c2c2c2c2;
  border-radius: 5px;
  box-shadow: #00000059 0px 5px 15px;
  height: 100%;
  margin-top: 10px;
  max-width: 250px;
  min-height: 200px;
  padding: 25px;
  width: 80%;
}

.form-container > label {
  color: #424242;
  display: flex;
  flex-flow: column nowrap;
  margin: 10px 0;
}

.form-container > p {
  color: #ac0000;
}

label > input {
  padding: 15px 20px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.form-button-group {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.form-button-group button, a {
  text-transform: uppercase;
  width: 100%;
}

.form-button-login {
  background-color: #026B52;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease;
}

.form-button-login:hover {
  background-color: #003a2c;
  cursor: pointer;
}

.form-button-register {
  border: 1px solid #026B52;
  border-radius: 5px;
  color: #026B52;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease;
}

.form-button-register:hover {
  background-color: #7070703d;
  cursor: pointer;
}
